body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
h1{
    font-size: 45px;
    margin-left: 5%;
}
h3{
    font-size: 18px;
}
.name{
    color:darkred;
}
.flexible-container{
    display: flex;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 30px;
    text-align: justify;
}
.half-width image{
    width=150%;
}
.link-button{
    text-decoration: none;
    color: chartreuse;
    background-color: brown;
    border-radius: 10%;
    padding: 10px 40px;
    font-weight: 700;
}
.top-banner{ 
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gold;
}
.experiance-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    border-right: hotpink;
    box-shadow: 10px 10px 40px yellowgreen;
}
#web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(red, Green);
    border-image-slice:1;
}
footer p{
    text-align: center;
    color: rgb(32, 22, 173);
}